<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	 crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='android_icon.jpg') }}" sizes="192x192">
	<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='apple_icon.png') }}">

	<title>Terms & Conditions | Friendship Meter</title>
</head>

<body style="font-family:Inter;">

	<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark">
		<a class="navbar-brand" href="#">
			<img src="https://i.ibb.co/TghYR1P/hero-logo-squared-removebg.png" width="35" height="35" alt="" loading="lazy">
		</a>
		<span class="navbar-brand mb-0 h1">Terms and Conditions</span>
	</nav>

    <br>
	<div class="container">
	<h1>Terms and Conditions</h1>
	<p><small>Last updated: February 20, 2021</small></p>
	<hr>
	<p>Please read these terms and conditions carefully before using Our Service.</p>
	<h1>Interpretation and Definitions</h1>
	<h2>Interpretation</h2>
	<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following
		definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
	<h2>Definitions</h2>
	<p>For the purposes of these Terms and Conditions:</p>
	<ul>
		<li>
			<p><strong>Affiliate</strong> means an entity that controls, is controlled by or is under common control with a party, where &quot;control&quot; means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</p>
	</li>
	<li>
	<p><strong>Country</strong> refers to: West Bengal,  India</p>
	</li>
	<li>
	<p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Friendship Meter.</p>
	</li>
	<li>
	<p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
	</li>
	<li>
	<p><strong>Service</strong> refers to the Website.</p>
	</li>
	<li>
	<p><strong>Third-party Social Media Service</strong> means any services or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.</p>
	</li>
	<li>
	<p><strong>Website</strong> refers to Friendship Meter, accessible from <a href="https://friendship-calculator.surdebmalya11.repl.co/" rel="external nofollow noopener" target="_blank">https://friendship-calculator.surdebmalya11.repl.co/</a></p>
	</li>
	<li>
	<p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
	</li>
	</ul>
	<h1>Acknowledgment</h1>
	<p>These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Company. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.</p>
	<p>Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or use the Service.</p>
	<p>By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions then You may not access the Service.</p>
	<p>You represent that you are over the age of 18. The Company does not permit those under 18 to use the Service.</p>
	<h1>Links to Other Websites</h1>
	<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by the Company.</p>
	<p>The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that the Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
	<p>We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or services that You visit.</p>
	<p>To build the tnc we took help of <a href="https://termify.io/" target="_blank">Termify</a> and to host the pictures permanently, we have used the API of <a href="https://imgbb.com/" target="_blank">ImgBB</a>.</p>
	<h1>Contact Us</h1>
	<p>If you have any questions about these Terms and Conditions, You can contact us:</p>
	<ul>
	<li>By visiting this page on our website: <a href="https://www.linkedin.com/in/debmalya-sur/" rel="external nofollow noopener" target="_blank">Linkedin Profile of Developer</a></li>
	<li>By visiting this page on our website: <a href="https://github.com/surdebmalya/" rel="external nofollow noopener" target="_blank">GitHub Profile of Developer</a></li>
	</ul>
	</div>

	<!--Footer-->
	<br>
	<footer class="bg-light text-center text-lg-start">
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    		Terms and Conditions for <a href="/">Friendship Meter</a>
		</div>
	</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>